html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #dbd6cf;
  list-style-type: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #fff;
  background-color: #79756f;
  text-align: center;
  margin: 0;
}

nav {
  border-color: #595652;
  border-style: solid;
  border-width: medium;
}

h1 {
  font-family: "Bevan", cursive, sans-serif;
  margin: .3em;
}

ul li {
  background-color: #713837;
  display: inline-block;
  padding: .5em;
  border-radius: .3em;
  margin: .2em .1em;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
}

ul li:hover {
  background-color: #f33;
}
